@font-face {
  font-family: InterLight;
  src: url(../fonts/InterLight.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: InterLight;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  background-color: antiquewhite;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
nav {
  width: 100vw;
  padding: 1vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav1 a {
  font-size: 1.3rem;
  margin-right: 2vw;
}
.nav5 {
  font-size: 2.4rem;
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
}
.nav6 {
  padding: 5px 40px;
  font-size: 1.7rem;
  border: 1px solid black;
  border-radius: 5px;
}
a:hover {
  font-weight: 900;
}
.nav6:hover {
  background-color: black;
  color: rgb(238, 241, 16);
}

/* !main! */

h1 {
  font-size: 3.9rem;
  text-align: center;
  margin-top: 7vh;
  font-weight: 100;
}
.group {
  width: 100vw;
  margin-bottom: 100px;
}
.pfeil {
  width: 3vw;
  position: sticky;
  left: 95vw;
  top: 10vh;
}

/* -pricing- */

.text,
.deliverables,
.work {
  padding: 0 10vw 0 10vw;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.wewill {
  font-size: 2.1rem;
  width: 55%;
  margin-right: 50px;
}
.dollar {
  font-size: 6.1rem;
  font-weight: 900;
}
.flatrate {
  font-size: 2rem;
  width: 50%;
}

/* -Section:deliverables- */

.girl {
  width: 50%;
  margin-right: -3.5vw;
}
.girl img {
  max-width: 100%;
  z-index: -1;
}
.text2 {
  width: 50%;
  z-index: 0;
}
.text2 h2 {
  font-size: 5.5rem;
  margin-bottom: 5vh;
}
.text2 h3,
.unlike,
.evaluate,
ul,
.work h2 {
  margin-bottom: 2.5vh;
}
.text2 h3 {
  font-size: 2.3rem;
}
.unlike,
.evaluate,
.provide,
ul,
.work p,
.critical p,
.flatrate,
.average,
.after,
.according {
  color: #9fa2a7;
}
.unlike,
.evaluate {
  font-size: 2.1rem;
}
.provide {
  font-size: 1.9rem;
}

/* -section:work/bigGirl- */

.work {
  margin-left: 5vw;
}
.text3 {
  width: 40%;
  margin-right: 5vw;
}
.beautiful {
  width: 60%;
}
.beautiful img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin-left: 2vw;
  font-size: 1.5rem;
}
.work h2 {
  font-size: 5rem;
}
.work p {
  font-size: 1.6rem;
}

/* -Section:Critique! */

.critical {
  text-align: center;
  margin-bottom: 100px;
}
.critical h2 {
  font-size: 5rem;
  margin-bottom: 5vh;
}
.critical p {
  font-size: 1.6rem;
}
.theone {
  margin-bottom: 2.5vh;
}
.twentyeight {
  width: 70%;
  margin-left: 10vw;
  z-index: -2;
  margin-bottom: 2.5rem;
}
.twentyeight img {
  max-width: 100%;
}
.text4 {
  margin-left: 25vw;
  font-size: 2rem;
}
.average,
.after {
  margin-bottom: 2.5vh;
}
.why img {
  width: 40%;
  position: relative;
  top: -25vh;
  left: 40vw;
}

/* !footer! */

footer {
  text-align: center;
}
footer h2 {
  font-size: 4.8rem;
  margin-bottom: 50px;
}
footer section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.6rem;
}
footer img {
  width: 5vw;
}
